p.speech{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
p.song{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;

}
p.direction{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    background-color: aliceblue;

}
h6.name{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;



}
direction:hover{
    background-color: yellow;
}
.GIR{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 19, 19);
}
.MAB{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.FRE{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.GEN{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(164, 23, 23);
}
.POL{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(164, 23, 96);
}

table.table{
    border:1mm;
    color:red;
    text-align: center;
    padding: 60px;
    margin:15px;
}
tr:nth-child(odd){
    background-color: yellow;
}


